<aside class="fixed-header__box">
	<div class="container">
		<header class="fixed-header">
			<section class="fixed-header__logo-box">
				<a href="#" class="fixed-header__logo logo__link logo__link_fixed">
					BarnasNorge.no
				</a>
			</section>

			<nav class="fixed-header__nav-box">
				<ul class="fixed-header__nav">
					<li class="fixed-header__nav-item">
						<a href="#" class="fixed-header__nav-link" title="">Activity List</a>
					</li>
					<li class="fixed-header__nav-item">
						<a href="#" class="fixed-header__nav-link" title="">Arrangement</a>
					</li>
					<li class="fixed-header__nav-item">
						<a href="#" class="fixed-header__nav-link fixed-header__nav-link_active" title="">On Map</a>
					</li>
					<li class="fixed-header__nav-item">
						<a href="#" class="fixed-header__nav-link" title="">News <span class="top-nav__badge">5</span></a>
					</li>
					<li class="fixed-header__nav-item">
						<a href="#" class="fixed-header__nav-link" title="">About Us</a>
					</li>
				</ul>
			</nav>

			<ul class="fixed-header__tool fixed-header-tool">
				<li class="fixed-header-tool__item">
					<a href="javascript:void(0)" class="fixed-header-tool__link fixed-header-tool__link_star icon icon_star">
						<span class="fixed-header-tool__badge">2</span>
					</a>
				</li>
				<li class="fixed-header-tool__item">
					<a href="javascript:void(0)" class="fixed-header-tool__link fixed-header-tool__link_sign-in icon icon_sign-in"></a>
				</li>
				<li class="fixed-header-tool__item">
					<a href="javascript:void(0);" class="fixed-header-tool__link fixed-header-tool__link_search icon icon_search"></a>
				</li>
				<li class="fixed-header-tool__item">
					<a href="javascript:void(0);" class="fixed-header-tool__link fixed-header-tool__link_hamburger"></a>
				</li>
			</ul>
		</header>
	</div>
</aside>