<aside class="hamburger-menu">
	<section class="hamburger-menu__box">
		<a href="#" class="hamburger-menu__close icon icon_cross" title=""></a>

		<a href="#" class="logo__link hamburger-menu__logo" title="Go to home page">
			BarnasNorge.no
			<span class="logo__slogan">En aktivitetsportal for Dere MED BARN i Alderen 0-15 ar.</span>
		</a>
		
		<div class="hamburger-menu__scroll-box">
			<ul class="hamburger-menu__list">
				<li class="hamburger-menu__item">
					<a href="#" class="hamburger-menu__link hamburger-menu__link_active" title="">Home</a>
					
					<ul class="hamburger-menu__list">
						<li class="hamburger-menu__item">
							<a href="#" class="hamburger-menu__link hamburger-menu__link_active" title="">Activity List</a>
						</li>

						<li class="hamburger-menu__item">
							<a href="#" class="hamburger-menu__link" title="">Arrangement</a>
						</li>

						<li class="hamburger-menu__item">
							<a href="#" class="hamburger-menu__link" title="">On Map</a>
						</li>
					</ul>
				</li>
				
				<li class="hamburger-menu__item">
					<a href="#" class="hamburger-menu__link" title="">News<span class="hamburger-menu__label">5</span></a>
				</li>

				<li class="hamburger-menu__item">
					<a href="#" class="hamburger-menu__link" title="">About Us</a>
				</li>

				<li class="hamburger-menu__item">
					<a href="#" class="hamburger-menu__link icon icon_sign-in" title="">Sign In</a>
				</li>

				<li class="hamburger-menu__item">
					<a href="#" class="hamburger-menu__link icon icon_star" title="">Favorites<span class="hamburger-menu__label">2</span></a>
				</li>
			</ul>

			<button class="header__btn btn btn_main btn_iconed icon icon_add hamburger-menu__btn">Add activity</button>
		</div>
	</section>
</aside>