<aside class="informer informer_active">
	<section class="container informer__data">
		<span class="informer__text">BarnasNorge.no benytter informasjonskapsler (cookies) slik at vi kan yte deg bedre service. Informasjonskapslene blir hovedsakelig benyttet for trafikkmåling og optimalisering av tjenesten </span>
		<div class="informer__btn-grp">
			<button class="btn btn_micro btn_informer informer__btn">Godta</button>
			<button class="btn btn_micro btn_informer btn_secondary informer__btn" title="">Les mer</button>
		</div>
	</section>
</aside>