<section class="filter-summary icon icon_search">
	<div class="filter-summary__row">
		<label class="filter-summary__label">County:</label>
		<span class="filter-summary__val filter-summary__val_county icon icon-after_down">County Møre og Romsdal</span>
	</div>

	<div class="filter-summary__row">
		<label class="filter-summary__label">Date:</label>
		<span class="filter-summary__val">12.06.2018—16.08.2018</span>
	</div>
	<div class="filter-summary__row">
		<label class="filter-summary__label">Age:</label>
		<span class="filter-summary__val">0—15+ </span>
		<label class="filter-summary__label filter-summary__label_ml">And Extra:</label>
		<span class="filter-summary__val">3 <i class="filter-summary__params">Params</i></span>
	</div>
</section>