<ul class="seo-link__box">
	<li class="seo-link__block">
		<div class="seo-link__ttl">Counties</div>
		<ul class="seo-link__list">
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Østfold <span class="seo-link__total">8</span></a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Akershus <span class="seo-link__total">57</span></a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Oslo <span class="seo-link__total">257</span></a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Hedmark <span class="seo-link__total">23</span></a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Oppland <span class="seo-link__total">14</span></a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Buskerud <span class="seo-link__total">7</span></a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Vestfold <span class="seo-link__total">64</span></a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Telemark <span class="seo-link__total">78</span></a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Aust-Agder <span class="seo-link__total">15</span></a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Vest-Agder <span class="seo-link__total">8</span></a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Rogaland <span class="seo-link__total">8</span></a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Hordaland <span class="seo-link__total">101</span></a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Sogn og Fjordane <span class="seo-link__total">19</span></a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Møre og Romsdal <span class="seo-link__total">5</span></a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Trøndelag <span class="seo-link__total">45</span></a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Nordland <span class="seo-link__total">51</span></a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Troms <span class="seo-link__total">8</span></a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Finnmark <span class="seo-link__total">15</span></a></li>
		</ul>
	</li>
	<li class="seo-link__block">
		<div class="seo-link__ttl">Options</div>
		<ul class="seo-link__list">
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Free</a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Birthdays</a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Schoolclasses</a></li>
			<li class="seo-link__item">
				<a href="#" class="seo-link seo-link_parent icon icon-after_down" title="">Holidays</a>
				<ul class="seo-link__sub-items">
					<li class="seo-link__item"><a href="#" class="seo-link" title="">Winter</a></li>
					<li class="seo-link__item"><a href="#" class="seo-link" title="">Easter</a></li>
					<li class="seo-link__item"><a href="#" class="seo-link" title="">Autumn</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="seo-link__block">
		<div class="seo-link__ttl">Dates</div>
		<ul class="seo-link__list">
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Today</a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Tomorrow</a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">This weekend</a></li>
			<li class="seo-link__item"><a href="#" class="seo-link" title="">Next month</a></li>
		</ul>
	</li>
</ul>