<section class="price-info__box">
	<div class="price-info">
		<div class="price-info__ttl icon icon_ticket">Prices</div>
		<p class="price-info__data">For larger groups, we can tailor the game time and programme to fit your needs and ensure that all participants can play at the same time.</p>
		<p class="price-info__data">Please contact us with your booking enquiries.</p>
		
		<span class="price-info__top"><i class="price-info__top-bg"></i></span>
		<span class="price-info__bottom"><i class="price-info__bottom-bg"></i></span>
	</div>

	<div class="price-info price-info_dark">
		<a href="tel:21521147" class="price-info__phone-link icon icon_phone">21 52 11 47</a>

		<a href="mailto:email_booking@mail.ru" class="price-info__text-link">email_booking@mail.ru</a>
		
		<a href="#" class="price-info__external-link">Buy Ticket online</a>

		<span class="price-info__top"><i class="price-info__top-bg"></i></span>
		<span class="price-info__bottom"><i class="price-info__bottom-bg"></i></span>
	</div>
</section>